# Default configuration for PerlGo.
# Format: key=value, lines starting with '#' are comments.
#
#
# save_config: 
# if no, your command-line arguments will not be reused next time.
# if yes, arguments will be saved to my.config and reused.
#
save_config=yes
#
#
# Numbering: how should the grid points be numbered? 
# numbering=gnugo : skipping the letter I?
# =az, from A to Z?
# =SGF, skipping TT on boards larger than 19x19?
# (currently implemented: az gnugo 09?)
# x-axis:
numbering_x=az
# y-axis:
numbering_y=09
#
#
# user_interface is text only at the moment.
user_interface=text
#
# autoplay=1 will play the game in game.dat or the one specified in
# filename=foo
#
autoplay=0
#
# Board shape: currently supported are "rectangle" and "circles" but
# the latter is not as quite right with PovRay.
shape=rectangle
#
# Should PovRay number the stones? [this will change]
pov_numbering=1
#
# If encountering problems during autoplay, should I ask the user for
# directions? 
# ask=0 do not ask!
# ask=1 is yes, if encoutering an illegal move. 
# ask=2 is ask after each move if you want to continue.
#
ask=0
#
# print the board to console (ASCII-Version) 1=yes, 0=no.
#
print=1
#
# generate a POV-Ray image each move?
# 1=yes, 0=no.
#
pov=1
#
# Save pov-code but do not render (=1)?
no_render=0
#
# Operating system: Windows: es os=win, Linux os=linux
#
os=linux
#
# board dimensions:
#
x=9
y=9
#
# Show the current score after each move:
# note that this is only partly implemented.
#
score=0
#
# filename=... the filename where you either want the game to  be
# saved or where the autoplay-file is to be found.
#
filename=game.dat
#
#
# fpt: The number of Frames per Turn / Bilder pro Zug:
#
fpt=25
#
#
# path: how should PerlGo find the POV-Ray binary?
# in Linux: try povray. Windows: something like
# c:\povray\bin\pvengine.exe 
#
path_linux=povray
path_windows=D:\bin\POV-Ra~1.5\bin\pvengine.exe
#
# height & width of the rendered image in pixels:
height=300
width=400